/* Reset */
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #97CE4C ;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Navbar */
nav {
  background-color: #02AFC5;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav span {
  color: #3B1A5A;
  font-size: 1.1rem;
  font-weight: bold;
}

nav a {
  color: #3B1A5A;
  text-decoration: none;
  margin-left: 1rem;
}

nav a:hover {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
}

/* Page Container */
.page {
  max-width: 900px;
  margin: 2rem auto;
  padding: 0 1rem;
}

h1 {
  margin-bottom: 1rem;
}

/* Character card */
.character-card {
  margin-bottom: 1rem;
}

.character-card, h3 ,p, button {
  margin-left: 1rem;
}

.character-card {
  background: #A9F3FD;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  gap: 1rem;
  align-items: flex-start;
  cursor: default;
}

.character-card img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
  flex-shrink: 0;
}

.character-card h3 {
  margin-bottom: 0.25rem;
}

.character-card p {
  color: #666;
  font-size: 0.9rem;
  margin-bottom: 0.2rem;
}

/* Buttons */

button {
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0.5rem;
  font-size: 0.9rem;
}

.btn-primary {
  background-color: #333;
  color: white;
}

.btn-danger {
  background-color: #cc0000;
  color: white;
}

.btn-primary:hover {
  background-color: #555;
}

.btn-danger:hover {
  background-color: #aa0000;
}

/* Filter tabs */
.filters {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.filters button {
  background: #A9F3FD;
  border: 1px solid #ddd;
}

.filters button.active {
  background: #333;
  color: white;
}

/* Forms */
.form-group {
  margin-bottom: 1rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.25rem;
  font-weight: bold;
}

.form-group input,
.form-group select,
.form-group textarea {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #A9F3FD;
}

/* Search results dropdown */
.search-results {
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #F0E14A;
  margin-bottom: 1rem;
  max-height: 300px;
  overflow-y: auto;
}

.search-results .character-card {
  border: none;
  border-bottom: 1 solid #eee;
  border-radius: 0;
  cursor: pointer;
  margin-bottom: 0;
  background-color: #A9F3FD;
}

.search-results .character-card:hover {
  background-color: #5CAD4A ;
}

.search-results .character-card:last-child {
  border-bottom: none;
}

.search-results img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 4px;
}
